/* Metodología BEM y Atomic Desing */

@import url(./personas/persona.css) all;
@import url(./personas/persona-imagen.css) all;
@import url(./personas/persona-nombre.css) all;
@import url(./personas/persona-funcion.css) all;

.personas{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

@media screen and (min-width:0){
  .personas{
    flex-direction: column;
  }
}

@media screen and (min-width:768px){
  .personas{
    flex-direction: row;
  }
}